.add-basket {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}

.add-basket__block {
  position: fixed;
  top: 300px;
  left: 50%;
  margin-left: -160px;
  width: 320px;

  background-color: $white;
  border: 1px solid $color-modal;
  box-shadow: 0 5px 10px 0 $color-shadow;
}
