.advantages {
  width: 100%;
  padding: 0 29px;

  background: url("../../img/bg-zigzag-line.svg") -5px top repeat-x;
  background-size: auto 6px;
}

.advantages__title {
  padding-top: 34px;
  padding-bottom: 32px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  padding-top: 32px;
  padding-bottom: 30px;

  font-size: 17px;
  line-height: 20px;
  font-weight: $font-weight-bold;
  color: $black;
  white-space: pre-line;

  background: 6px 2px no-repeat;

  &--ecology {
    background-image: url("../../img/icon-feature-flower.svg");
  }

  &--price {
    background-image: url("../../img/icon-feature-money.svg");
  }

  &--like {
    background-image: url("../../img/icon-feature-heart.svg");
  }

  &--handmade {
    background-image: url("../../img/icon-feature-ball.svg");
  }

  &--home-product {
    background-image: url("../../img/icon-feature-rocket.svg");
  }

  &--present {
    background-image: url("../../img/icon-feature-gift.svg");
  }

  &:nth-child(odd) {
    padding-top: 34px;

    order: -1;
  }
}

@media (min-width: $mobile-width-only) {
  .advantages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .advantages__list {
    width: 100%;
    margin-left: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 47%;

    &:nth-child(odd) {
      padding-top: 30px;
      padding-left: 0;

      order: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 66px;
    padding-left: 45px;

    background-position: left top;
    background-size: auto 15px;
  }

  .advantages__title {
    padding: 0;
  }

  .advantages__list {
    margin-top: 49px;
    margin-left: 4px;
  }

  .advantages__item {
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 7px;

    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 80px;
    padding-left: 219px;

    background-size: 1050px 23px;
    background-position: 50px 0;
  }

  .advantages__list {
    width: 91%;
    margin-top: 52px;
  }

  .advantages__item {
    width: 40%;
    padding-bottom: 58px;
    padding-left: 25px;

    &:nth-child(even) {
      background-position: 25px 2px;
    }
  }
}
