.button {
  width: auto;
  padding: 15px 85px 13px;

  font-size: 18px;
  line-height: 20px;
  font-weight: $font-weight-bold;
  color: $color-main;
  text-transform: uppercase;
  text-align: center;

  border: 2px solid $color-main;
  background-color: transparent;
}

@media (min-width: $desktop-width) {
  .button {
    &:hover {
      color: $white;
      background-color: $color-main;
    }

    &:focus {
      color: rgba($white, 0.3);
      background-color: $color-main;
    }
  }
}
