.button {
  width: 259px;
  min-height: 60px;

  padding-top: 20px;
  padding-right: 85px;
  padding-bottom: 20px;
  padding-left: 85px;

  font-size: 17px;
  height: 20px;
  font-weight: $font-weight-bold;
  color: $color-main;
  text-transform: uppercase;
  text-align: center;

  border: 2px solid $color-main;
  background-color: inherit;
}
