.catalog-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list__item {
  width: 320px;

  background-color: $color-secondary;
  &--dark {
    background-color: $color-secondary-dark;
  }
}

.catalog-list__link {
  position: relative;

  display: block;
  width: 100%;
  padding: 30px 185px 30px 29px;

  font-size: 19px;
  line-height: 24px;
  font-weight: $font-weight-bold;
  text-align: left;
  color: $white;

  &--dark {
    .catalog-list__image {
      right: 27px;
    }
  }
}

.catalog-list__image {
  position: absolute;
  bottom: 22px;
  right: 36px;

  fill: $catalog-icon-color;
}

@media (min-width: $tablet-width) {
  .catalog-list {
    width: 772px;
    display: flex;
    justify-content: center;
    margin-top: -113px;
  }

  .catalog-list__item {
    width: 334px;
    height: 107px;
  }

  .catalog-list__link {
    padding-top: 15px;
    padding-right: 310px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    width: 1150px;
    margin-top: -174px;
  }

  .catalog-list__item {
    width: 525px;
    height: 119px;
  }
}
