.catalog-list {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list__item {
  width: auto;
  min-height: 103px;

  background-color: $color-secondary;

  &--dark {
    background-color: $color-secondary-dark;

    .catalog-list__link {
      background: url("../../img/icon-toy.svg") 90.25% 54% no-repeat;
    }
  }
}

.catalog-list__link {
  position: relative;

  display: block;
  width: 100%;
  padding: 8.24% 164px 7.24% 30px;

  font-size: 19px;
  line-height: 24px;
  font-weight: $font-weight-bold;
  text-align: left;
  color: $white;

  background: url("../../img/icon-interior.svg") 87.25% 62% no-repeat;
}

@media (min-width: $tablet-width) {
  .catalog-list {
    width: calc(100% - 104px);
    height: 119px;
    display: flex;
    justify-content: center;
    margin: -116px auto 0;
  }

  .catalog-list__item {
    width: 50%;
    min-height: 107px;

    &--dark {
      .catalog-list__link {
        padding-left: 36px;

        background-position: 88.25% 59%;
      }
    }
  }

  .catalog-list__link {
    padding-left: 34px;
    font-size: 20px;
    line-height: 30px;

    background-position-y: 58%;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    width: 91.3%;
    margin: -138px 50px 0;

    &:hover {
      margin-top: -139px;
    }
  }

  .catalog-list__item {
    min-height: 119px;

    &--dark {
      .catalog-list__link {
        background-position: 92% 53%;
      }
    }

    &:hover {
      transform: scale(1, 1.04);
    }
  }

  .catalog-list__link {
    padding: 5% 306px 6.24% 36px;

    background-position: 92% 53%;

    &:hover {
      padding-bottom: 35px;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
