.checkbox {
  display: flex;
  flex-direction: column;
}

.checkbox__label {
  position: relative;
  padding-left: 63px;
  padding-bottom: 34px;

  cursor: pointer;
}

.checkbox__input + .checkbox__label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 39px;

  border: 2px solid $color-main;
}

.checkbox__input:checked + .checkbox__label::before {
  background: url("../../img/icon-tick.svg") center no-repeat;
  background-size: 22px 16px;
}

@media (min-width: $tablet-width) {
  .checkbox {
    flex-direction: row;
    flex-wrap: wrap;
    width: 462px;
    padding: 0;
  }

  .checkbox__label {
    width: 50%;
    padding-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .checkbox {
    width: 100%;
  }

  .checkbox__label {
    width: 30%;
  }
}
