.checkbox {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  margin-bottom: 10px;
}

.checkbox__label {
  position: relative;
  margin-bottom: 19px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 63px;
  cursor: pointer;
}

.checkbox__input + .checkbox__label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 39px;

  border: 2px solid $color-main;
}

.checkbox__input:checked + .checkbox__label::before {
  background: url("../../img/icon-tick.svg") center no-repeat;
  background-size: 22px 16px;
}

@media (min-width: $tablet-width) {
  .checkbox {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding-right: 30px;
  }

  .checkbox__label {
    width: 50%;
    margin-bottom: 44px;
    padding-top: 0px;
    padding-left: 83px;
  }

  .checkbox__input + .checkbox__label::before {
    width: 54px;
    height: 52px;
    top: -14px;
    left: 3px;
  }

  .checkbox__input:checked + .checkbox__label::before {
    background-size: 33px 22px;
  }
}

@media (min-width: $desktop-width) {
  .checkbox__label {
    width: 30%;
  }

  .checkbox__input:hover + .checkbox__label::before {
    border-color: $control-hover;
  }

  .checkbox__input:focus + .checkbox__label::before {
    border-color: $control-active;
  }

  .checkbox__input:active + .checkbox__label::before {
    border-color: $control-active;
  }
}
