.contact-details__item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.contact-details__category {
  position: relative;
  margin-top: 9px;
  color: $color-secondary;
  text-transform: uppercase;

  &::after {
    content: "";
    width: 76%;
    height: 1px;

    position: absolute;
    top: 50%;
    right: 0;

    background-color: $color-secondary;
  }
}

.contact-details__input {
  box-sizing: border-box;
  padding: 19px 0 18px 0;
  margin-bottom: 24px;

  @include input-field;
  background: transparent;

  &--phone {
    padding: 15px 0 14px 0;

    font-size: 19px;
    line-height: 19px;
  }

  border-radius: 0;

  &::placeholder {
    color: $color-placeholder;
  }
}

.contact-details__icon {
  position: absolute;
  right: 233px;

  &--email {
    right: 228px;
  }
}

@media (min-width: $tablet-width) {
  .contact-details {
    display: flex;
    flex-direction: column;
    padding-top: 62px;
  }

  .contact-details__item {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .contact-details__category {
    margin-left: 51px;

    font-size: 17px;
    line-height: 17px;

    &::after {
      display: none;
    }
  }

  .contact-details__input {
    width: 65%;
    margin-right: 50px;
    padding-top: 0;
    padding-bottom: 16px;
    padding-left: 15px;

    font-size: 19px;
    line-height: 19px;
  }
}

@media (min-width: $desktop-width) {
  .contact-details {
    margin-top: 12px;
  }

  .contact-details__category {
    margin-left: 112px;
  }

  .contact-details__input {
    width: 61%;
    margin-right: 225px;

    &:hover {
      border-color: $control-hover;

      & + .contact-details__icon {
        fill: $control-hover;
      }
    }

    &:focus {
      outline: none;
      border-color: $control-hover;

      & + .contact-details__icon {
        fill: $control-hover;
      }
    }
  }
}
