.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  width: 100%;

  background: url("../../img/bg-zigzag-line.svg") left top repeat-x;
  background-size: auto 6px;
}

.contacts__title {
  margin: 0;
  padding: 0 9.4%;

  color: $black;
  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  padding: 23px 9.4% 35px;

  line-height: 30px;
}

.contacts__field {
  padding: 0;
  padding-bottom: 28px;

  vertical-align: top;
}

.contacts__value {
  width: 178px;
  padding: 0;

  vertical-align: top;
}

.contacts__email {
  color: inherit;

  border-bottom: 1px solid $color-secondary;
}

.contacts__map {
  width: 100%;

  border: none;
}

.contacts__write {
  margin: 40px 9.4%;
  padding: 13px 47px 13px 48px;
}

@media (min-width: $tablet-width) {
  .contacts {
    position: relative;
    align-items: flex-start;
    width: 100%;
    padding-top: 77px;
    padding-bottom: 57px;

    background-position: left top;
    background-size: auto 15px;

    &::before {
      content: "";
      position: absolute;
      top: 62px;
      right: 53px;
      width: 47px;
      height: 81px;
      background: url("../../img/icon-flag.svg") no-repeat;
    }
  }

  .contacts__title {
    padding-left: 5.77%;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    width: 100%;
    padding: 47px 7.8% 52px 5.77%;

    font-size: 17px;
  }

  .contacts__list tbody {
    width: 96.3%;
    display: flex;
    justify-content: space-between;
  }

  .contacts__field {
    padding-right: 20px;
  }

  .contacts__value {
    width: 221px;
  }

  .contacts__map {
    width: 100%;
  }

  .contacts__write {
    align-self: center;
    width: 230px;
    height: 52px;
    margin: 0;
    margin-top: 55px;
    padding: 14px 0;
    padding-left: 7px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    padding-top: 108px;
    padding-bottom: 105px;
    padding-left: 19%;

    background-size: 1050px 23px;
    background-position: 50px 0;
    background-repeat: no-repeat;

    &::before {
      top: 155px;
      left: 9.8%;
    }
  }

  .contacts__title {
    padding: 0;
    padding-top: 59px;

    font-size: 53px;
  }

  .contacts__map {
    position: absolute;
    top: 92px;
    right: 4.35%;
    width: 45.65%;
    height: 457px;
  }

  .contacts__write {
    align-self: flex-start;
    margin: 0;
    margin-top: 74px;
    margin-left: 6px;
  }

  .contacts__list {
    padding: 0;
    padding-top: 47px;
  }

  .contacts__list tbody {
    flex-direction: column;
  }

  .contacts__email {
    &:hover {
      color: $email-hover;
      border-color: $email-hover;
    }

    &:focus {
      outline: none;
      color: $email-hover;
      opacity: 0.3;
    }
  }
}
