.contact-details__item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.contact-details__category {
  position: relative;
  margin-top: 9px;
  color: $color-secondary;
  text-transform: uppercase;

  &::after {
    content: "";
    width: 76%;
    height: 1px;

    position: absolute;
    top: 50%;
    right: 0;

    background-color: $color-secondary;
  }
}

.contact-details__input {
  box-sizing: border-box;
  padding: 19px 0 18px 0;
  margin-bottom: 24px;

  @include input-field;
  background: transparent;

  &--phone {
    padding: 15px 0 14px 0;

    font-size: 19px;
    line-height: 19px;
  }

  border-radius: 0;

  &::placeholder {
    color: $color-placeholder;
  }
}

.contact-details__icon {
  position: absolute;
  top: 45px;
  right: 8px;

  &--email {
    right: 4px;
  }
}

@media (min-width: $tablet-width) {
  .contact-details {
    display: flex;
    flex-direction: column;
    padding-top: 62px;
  }

  .contact-details__item {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .contact-details__category {
    margin-left: 6.5%;

    font-size: 17px;
    line-height: 17px;

    &::after {
      display: none;
    }
  }

  .contact-details__input {
    width: 65%;
    margin-right: 6.5%;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 16px;
    padding-left: 15px;

    font-size: 19px;
    line-height: 19px;
  }

  .contact-details__icon {
    top: 0;
    right: 10.03%;

    &--email {
      right: 9.38%;
    }
  }
}

@media (min-width: $desktop-width) {
  .contact-details {
    margin-top: 12px;
  }

  .contact-details__category {
    margin-left: 9.65%;
  }

  .contact-details__icon {
    right: 20.25%;

    &--email {
      right: 19.83%;
    }
  }

  .contact-details__input {
    width: 61%;
    margin-right: 19.57%;

    &:hover {
      border-color: $control-hover;

      & + .contact-details__icon {
        fill: $control-hover;
      }
    }

    &:focus {
      outline: none;
      border-color: $control-hover;

      & + .contact-details__icon {
        fill: $control-hover;
      }
    }
  }
}
