.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 41px;

  background-image: url("../../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: -5px top;
  background-size: 320px 6px;
}

.contacts__title {
  margin: 0;
  padding-right: 30px;
  padding-left: 30px;

  color: $black;
  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  padding-top: 23px;
  padding-right: 30px;
  padding-bottom: 35px;
  padding-left: 30px;

  line-height: 30px;
}

.contacts__field {
  padding: 0;
  padding-bottom: 28px;

  vertical-align: top;
}

.contacts__value {
  width: 178px;
  padding: 0;

  vertical-align: top;
}

.contacts__map {
  width: 100%;
}

.contacts__write {
  margin: 39px 30px;
  padding-right: 47px;
  padding-left: 48px;
}
