.copyright {
  display: flex;
  align-items: center;

  padding-top: 22px;
  padding-right: 35px;
  padding-bottom: 23px;
  padding-left: 39px;

  border-top: 1px solid darken(#f1f1f1, 5%);
}

.copyright__text {
  padding-right: 30px;
  font-size: 19px;
  line-height: 18px;
  font-weight: $font-weight-bold;
  color: $font-color-bold;
}
