.copyright {
  display: flex;
  align-items: center;
  padding: 3px 35px 23px 39px;

  border-top: 1px solid $gray-darken;
}

.copyright__text {
  padding-right: 30px;

  font-size: 19px;
  line-height: 18px;
  font-weight: $font-weight-bold;
  color: $black;
}

.copyright__link {
  padding-top: 22px;
}
