.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0 23px 14.6%;

  border-top: 1px solid $gray-darken;
}

.copyright__text {
  margin-right: 19px;
  font-size: 19px;
  line-height: 18px;
  font-weight: $font-weight-bold;
  color: $black;
}

.copyright__image {
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    margin-top: 29px;

    border: none;
  }

  .copyright__link {
    &:hover {
      & .copyright__image {
        fill: $email-hover;
      }
    }

    &:focus {
      outline: none;
      opacity: 0.3;
    }
  }
}
