.form {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-left: 30px;

  font-size: 17px;
  line-height: 18px;
  font-weight: $font-weight-bold;
  text-align: left;
  vertical-align: middle;
}

.form__fieldset {
  width: 260px;
  margin: 0;
  padding: 0;

  border: none;
  border-top: 1px solid $color-secondary;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__category {
  position: relative;
  padding-top: 34px;

  font-size: 17px;
  line-height: 17px;
  font-weight: $font-weight-bold;
  color: $color-secondary;
  text-transform: uppercase;

  &::after {
    content: "";

    position: absolute;
    top: 42px;
    left: 66px;
    width: 193px;
    height: 1px;

    background-color: $color-secondary;
  }
}

.form__input {
  width: 260px;
  padding-top: 16px;
  padding-bottom: 21px;

  font-family: $font-family;
  font-size: 17px;
  line-height: 24px;
  color: $color-main;

  &--phone {
    font-size: 19px;
    line-height: 19px;

    background: url("../../img/icon-phone.svg") no-repeat 227px center;
  }

  &--email {
    background: url("../../img/icon-mail.svg") no-repeat 224px center;
  }

  border: none;

  box-shadow: 0 2px 0 0 $black;
}

.form__textarea {
  width: 260px;
  height: 142px;
  margin-top: 23px;
  padding-top: 18px;
  padding-left: 17px;

  font-family: $font-family;
  font-size: 17px;
  line-height: 18px;
  color: $color-main;
  border: 2px solid $color-main;
}

.form__textarea::-webkit-input-placeholder,
.form__input::-webkit-input-placeholder {
  color: $color-placeholder;
}

.form__textarea::-moz-placeholder,
.form__input::-moz-placeholder {
  color: $color-placeholder;
}

.form__legend {
  padding-top: 18px;

  font-size: 14px;
  line-height: 16px;
  font-weight: $font-weight-normal;
}

.form__submit {
  margin-top: 31px;
  margin-bottom: 55px;
  padding-right: 45px;
  padding-left: 45px;

  font-size: 17px;
  line-height: 17px;

  cursor: pointer;
}
