.form-add {
  width: 260px;
}

.form-add__block {
  margin-top: 12px;
}

.form-add__text {
  margin: 0;
  margin-bottom: 37px;

  line-height: 30px;
  text-align: center;
}

.form-add__label {
  width: 82px;
  height: 52px;
  padding: 12px 34px;

  font-size: 17px;
  line-height: 17px;
  font-weight: $font-weight-bold;

  border: 2px solid $color-border;

  cursor: pointer;

  &:hover {
    border-color: $control-active;
  }
}

.form-add__field:checked + .form-add__label {
  border-color: $color-secondary;
}

.form-add__button {
  margin-top: 44px;
  padding-top: 20px;
  padding-bottom: 16px;

  color: $white;
  font-size: 17px;
  line-height: 17px;

  background-color: $color-secondary;
  border: none;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .form-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .form-add__block {
    width: 350px;
  }

  .form-add__choice {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    width: 100%;
    margin-top: 22px;
  }

  .form-add__label {
    width: 112px;
    padding: 15px 48px;
  }

  .form-add__text {
    margin: 0;
    font-size: 17px;
  }

  .form-add__button {
    width: 100%;
    margin-top: 30px;
  }
}
