.form {
  width: 100%;
  padding: 0 30px;

  font-size: 17px;
  font-weight: $font-weight-bold;
  color: $black;
}

.form__item {
  position: relative;
  margin-top: 21px;

  &:last-of-type {
    margin-bottom: 5px;
  }
}

.form__title {
  margin: 0;
  margin-top: 23px;
  color: $color-main;
  font-size: 13px;
  font-weight: $font-weight-normal;
}

.form__legend {
  display: flex;
  align-items: center;
  margin: 0;

  text-transform: uppercase;
  color: $color-secondary;

  &::after {
    content: "";
    flex-grow: 1;
    margin-left: 25px;
    height: 1px;

    background-color: $color-secondary;
  }
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__input {
  width: 100%;
  padding-top: 19px;
  padding-bottom: 16px;
  margin-bottom: 7px;

  font-family: $font-family;
  font-size: 17px;
  line-height: 18px;
  color: $color-main;

  background-color: transparent;

  border: none;
  border-bottom: 2px solid $black;
  border-radius: 0;

  &::placeholder {
    color: $color-placeholder;
  }

  &--phone {
    padding-top: 13px;
    padding-bottom: 14px;

    font-size: 19px;
    line-height: 26px;
  }

  &:hover {
    border-color: $color-secondary;

    & + .form__icon {
      fill: $color-secondary;
      opacity: 1;
    }
  }

  &:focus {
    outline: none;
    border-color: $color-secondary;

    & + .form__icon {
      fill: $color-secondary;
      opacity: 1;
    }
  }
}

.form__icon {
  position: absolute;
  top: 38px;
  right: 8px;

  opacity: 0.2;

  &--email {
    right: 4px;
  }
}

.form__textarea {
  width: 100%;
  min-height: 142px;
  margin-top: 21px;
  padding-top: 14px;
  padding-left: 14px;

  font-family: $font-family;
  font-size: 17px;
  line-height: 18px;
  color: $color-main;

  border: 2px solid $black;
  border-radius: 0;

  &::placeholder {
    color: $color-placeholder;
  }

  &:hover {
    border-color: $color-secondary;
  }

  &:focus {
    outline: none;
    border-color: $color-secondary;
  }

  resize: none;
  overflow : auto;
}

.form__info {
  font-size: 14px;
  line-height: 16px;
  color: $color-main;
  font-weight: $font-weight-normal;
}

.form__submit {
  width: 100%;
  margin-top: 28px;
  margin-bottom: 56px;
  padding: 15px 0 12px 0;

  font-family: $font-family;
  font-size: 17px;
}

@media (min-width: $tablet-width) {
  .form {
    position: relative;
    padding: 0;
    font-size: 19px;
  }

  .form__title {
    margin-top: 59px;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__legend {
    margin-top: 6px;

    font-size: 17px;

    &::after {
      display: none;
    }
  }

  .form__group {
    width: 75%;
  }

  .form__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 64px;
    padding: 0 50px;

    &--email {
      margin-top: 0;
      padding-bottom: 43px;

      background-color: $gray;
    }

    &:nth-child(odd) {
      margin-top: 50px;
      padding-top: 49px;
      padding-bottom: 25px;
      background-color: $gray;

      .form__legend {
        margin-top: 13px;
      }
    }

    &:last-of-type {
      padding-top: 0;

      background-color: transparent;
    }
  }

  .form__input {
    width: 75%;

    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 16px;

    line-height: 26px;

    background-color: transparent;

    &--email {
      padding-top: 3px;

      font-size: 19px;
    }
  }

  .form__icon {
    top: 59px;
    right: 77px;

    &--email {
      top: 3px;
      right: 72px;
    }
  }

  .form__textarea {
    width: 75%;
    margin-top: 0;

    font-size: 19px;
    line-height: 19px;
  }

  .form__info {
    position: absolute;
    bottom: 63px;
    right: 50px;

    font-size: 17px;
    line-height: 30px;
  }

  .form__submit {
    width: 230px;
    margin-top: 23px;
    margin-bottom: 51px;
    margin-left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .form__item {
    padding-left: 112px;
  }

  .form__title {
    margin-top: 106px;
    padding: 0 225px;
  }

  .form__group {
    width: 88.5%;
  }

  .form__icon {
    right: 234px;

    &--email {
      right: 230px;
    }
  }

  .form__input {
    width: 71%;
    margin-right: 175px;
  }

  .form__textarea {
    width: 71%;
    margin-right: 175px;
    padding-top: 12px;
    padding-left: 16px;
  }

  .form__info {
    right: 225px;
  }

  .form__submit {
    margin-top: 19px;
    margin-left: 225px;
  }
}
