.main-nav {
  width: 320px;
}

.main-nav__toggle {
  width: 20px;
  height: 14px;

  background-color: inherit;
  background: url("../../img/icon-menu-open.svg") no-repeat;
  border: none;
  cursor: pointer;
}

.main-nav__wrapper {
  margin-top: 22px;
  margin-left: -269px;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
