.main-nav__toggle {
  width: 20px;
  height: 14px;
  position: absolute;
  top: 30px;
  right: 30px;

  background: url("../../img/icon-menu-open.svg") no-repeat;
  border: none;
  cursor: pointer;
}

.main-nav__wrapper {
  width: auto;
  margin-top: 22px;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav--opened .main-nav__toggle {
  height: 20px;
  background-image: url("../../img/icon-menu-close.svg");
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  display: block;
}

@media (max-width: $tablet-width - 1px) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    @include visually-hidden;
  }

  .main-nav__wrapper {
    margin: 0;
    display: flex;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 100%;
    padding-left: 50px;
  }

  .main-nav__wrapper {
    justify-content: space-between;
  }
}
