.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba($white, 0.9);
  z-index: 100;

  &--opened {
    display: block;
  }

  &--closed {
    display: none;
  }
}

.modal__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 29px 30px 40px;

  background-color: $white;
  border: 1px solid $color-modal;
  box-shadow: 0 5px 10px 0 $color-shadow;
}

.modal__title {
  padding-top: 0;

  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .modal__container {
    width: 566px;
    padding: 32px 105px 47px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 57px;

    br {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .modal__container {
    padding-top: 35px;
  }
}
