.modal {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}

.modal__container {
  position: fixed;
  top: 300px;
  left: 50%;
  width: 320px;
  margin-left: -160px;
  padding: 36px 30px 46px;

  background-color: $white;
  border: 1px solid $color-modal;
  box-shadow: 0 5px 10px 0 $color-shadow;
}

.modal__title {
  padding-top: 0;

  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .modal__container {
    width: 566px;
    margin-left: -284px;
    padding: 51px 105px 46px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 57px;

    br {
      display: none;
    }
  }
}
