.page-footer {
  display: flex;
  flex-direction: column;
  padding: 0 30px;

  background-color: $gray;
}

.page-footer__logo {
  display: none;

  &:hover {
    fill: $email-hover;
  }

  &:focus {
    outline: none;
    fill: $email-hover;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 50px 57px 50px;
  }

  .page-footer__logo {
    display: block;
    padding-top: 22px;
  }
}
