.page-footer {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;

  background-color: $gray;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    padding: 58px 52px 57px 50px;
  }

  .page-footer__logo {
    display: block;
    padding-top: 22px;
  }
}
