.page-header {
  width: auto;
  padding-top: 22px;
  position: relative;
}

.page-header__logo {
  width: 86px;
  height: 35px;
  display: block;
  margin: 0 auto;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo {
    padding-top: 22px;
    width: 112px;
    height: 46px;
    margin-left: 51px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: calc(50% - 74px);
    width: 149px;
    height: 72px;
    z-index: 2;
  }
}
