.produce {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto 58px;
  padding-top: 25px;

  border: 1px solid $color-border;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba($black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($black, 0.1);
  }
}

.produce__title {
  margin: 0;
  padding-bottom: 25px;
  padding-left: 89px;

  color: $black;
  font-size: 17px;

  background: url("../../img/icon-video.svg") no-repeat 34px 5px;
}

.produce__video {
  position: relative;
}

.produce__icon {
  width: 102px;
  height: 78px;
  position: absolute;
  top: 37px;
  left: 80px;

  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.produce__text {
  margin: 0;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 33px;

  font-size: 13px;
}

.produce__order {
  width: 192px;
  margin: 25px 34px 33px;
  padding-right: 21px;
  padding-bottom: 16px;
  padding-left: 17px;

  font-size: 17px;
  line-height: 17px;
}

@media (min-width: $tablet-width) {
  .produce {
    width: 86.8%;
    margin-bottom: 63px;
    padding-top: 0;
  }

  .produce__title {
    padding-top: 26px;
    padding-bottom: 33px;
    padding-left: 105px;

    font-size: 20px;

    background-position: 41px 23px;
  }

  .produce__video {
    width: 100%;

    order: -1;
  }

  .produce__image {
    width: 668px;
    height: 455px;
  }

  .produce__icon {
    top: 189px;
    left: 283px;
  }

  .produce__text {
    padding: 0 39px 0;

    font-size: 15px;
    line-height: 30px;
  }

  .produce__order {
    display: block;
    align-self: center;
    width: 584px;
    height: 52px;
    margin: 35px 42px 46px;
  }
}

@media (min-width: $desktop-width) {
  .produce {
    width: 91.5%;
    position: relative;
    min-height: 455px;
    align-items: center;
    margin: 4px auto 106px;
    padding-right: 52px;
    padding-left: 760px;
  }

  .produce__title {
    padding: 0;
    padding-top: 95px;
    padding-bottom: 33px;

    background-position: 0 41px;
  }

  .produce__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
  }

  .produce__image {
    width: 682px;
  }

  .produce__text {
    width: 230px;
    padding: 0;
  }

  .produce__order {
    width: 230px;
    height: 52px;
    margin: 0;
    margin-top: 46px;
    margin-bottom: 42px;
  }
}
