.product-week {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.product-week__title {
  padding: 0;
  margin-top: 27px;
}

.product-week__legend {
  margin-top: 7px;

  font-size: 17px;
  line-height: 20px;
  color: $color-secondary;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.product-week__pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-week__image {
  margin-bottom: 25px;
}

.product-week__description {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.product-week__note {
  margin: 0;
  padding: 0;
}

.product-week__list {
  width: 100%;
  margin-top: 18px;
  margin-bottom: 30px;

  border-collapse: collapse;

  tr {
    height: 39px;

    border-bottom: 1px solid $color-main;
  }

  line-height: 20px;
}

.product-week__field {
  width: 67px;
  padding: 0;
  padding-right: 27px;
}

.product-week__price {
  align-self: center;
  padding: 0;
  font-size: 17px;
  font-weight: $font-weight-bold;
}

.product-week__order {
  margin-top: 26px;
  margin-bottom: 36px;
  padding-top: 13px;
  padding-left: 81px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .product-week {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -13px;
    padding: 57px 53px 0 47px;
  }

  .product-week__title {
    margin: 0;
  }

  .product-week__legend {
    width: 70px;
    margin-top: 12px;
    margin-right: 26px;

    line-height: 17px;
    text-align: center;
  }

  .product-week__description {
    width: 100%;
    position: relative;
    margin-top: 49px;
  }

  .product-week__note {
    width: 42.9%;
    padding-left: 3px;

    font-size: 17px;
    line-height: 30px;
  }

  .product-week__list {
    width: 42.89%;
    margin-top: 36px;
    margin-left: 4px;
    margin-bottom: 58px;
  }

  .product-week__price {
    align-self: flex-start;
    font-size: 20px;
    padding-left: 74px;
  }

  .product-week__order {
    width: 43.9%;
    margin-top: 35px;
    margin-bottom: 53px;
    padding-left: 86px;

    font-size: 17px;
  }

  .product-week__pictures {
    display: block;
    position: absolute;
    top: 9px;
    right: 0;
  }

  .product-week__image {
    width: 333px;
    height: 404px;
  }

  .product-week__field {
    padding-right: 25px;
  }
}

@media (min-width: $desktop-width) {
  .product-week {
    position: relative;
    justify-content: flex-start;
    padding: 135px 50px 23px 97px;
  }

  .product-week__title {
    z-index: 1;
  }

  .product-week__legend {
    margin-top: 15px;
    margin-right: 53px;

    order: -1;
  }

  .product-week__list {
    width: 33%;
    margin-top: 48px;
    margin-bottom: 111px;
    margin-left: 0;
  }

  .product-week__description {
    padding-left: 129px;
  }

  .product-week__note {
    width: 33%;
    padding-left: 0;
  }

  .product-week__price {
    padding-left: 73px;
  }

  .product-week__pictures {
    top: -158px;
  }

  .product-week__image {
    width: 525px;
    height: 636px;
  }

  .product-week__order {
    width: 33%;
  }
}
