.product-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 30px;
  padding-bottom: 0;

  list-style: none;
}

.product-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  border: 1px solid $color-border;
}

.product-list__description {
  margin-right: 32px;
  margin-left: 28px;

  border-bottom: 1px solid $color-border;
}

.product-list__link {
  color: $black;
}

.product-list__title {
  margin: 0;
  padding-top: 31px;
  padding-bottom: 17px;

  font-size: 17px;
  font-weight: $font-weight-bold;
}

.product-list__characteristics {
  margin: 0;
  padding-bottom: 26px;

  font-size: 13px;
  line-height: 30px;
  color: $color-main;
}

.product-list__purchase {
  display: flex;
  justify-content: space-between;
  margin-right: 32px;
  margin-left: 28px;
  padding-top: 27px;
  padding-bottom: 30px;
}

.product-list__price {
  color: $black;
  font-weight: $font-weight-bold;
}

.product-list__buy {
  width: 20px;
  height: 19px;

  background: none;
  border: none;

  cursor: pointer;
}
