.product-week {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.product-week__title.title {
  padding: 0;
  margin-top: 27px;
}

.product-week__legend {
  margin-top: 4px;

  font-size: 17px;
  line-height: 20px;
  color: $color-secondary;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.product-week__image {
  margin-bottom: 19px;
}

.product-week__description {
  margin-top: 22px;
}

.product-week__note {
  margin: 0;
  padding: 0;
}

.product-week__list {
  width: 260px;
  margin-top: 18px;
  margin-bottom: 30px;

  border-collapse: collapse;

  tr {
    height: 39px;

    border-bottom: 1px solid $color-main;
  }

  line-height: 20px;
}

.product-week__field {
  width: 67px;
  padding: 0;
  padding-right: 28px;
}

.product-week__price {
  padding: 0 66px;

  font-size: 17px;
  font-weight: $font-weight-bold;
}

.product-week__order.button {
  margin-top: 26px;
  margin-bottom: 36px;
  padding-top: 13px;
  padding-left: 81px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .product-week {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -14px;
    padding-top: 60px;
    padding-left: 46px;
    padding-right: 52px;

    background: url("../../img/bg-zigzag-fill.svg") top repeat-x;
  }

  .product-week__title.title {
    margin:0;
  }

  .product-week__legend {
    width: 70px;
    margin-top: 12px;
    margin-right: 26px;

    line-height: 17px;
    text-align: center;
  }

  .product-week__description {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 49px;
  }

  .product-week__note {
    width: 282px;
    padding-left: 3px;

    font-size: 17px;
    line-height: 30px;
  }

  .product-week__list {
    margin-top: 5px;
    margin-left: 4px;
    margin-bottom: 59px;
  }

  .product-week__price {
    font-size: 20px;
    padding: 0 75px;
  }

  .product-week__order.button {
    width: 292px;
    margin-top: 35px;
    margin-bottom: 53px;
    padding-left: 91px;

    font-size: 17px;
  }

  .product-week__image {
    position: absolute;
    right: 0;
    width: 333px;
    height: 404px;
  }
}

@media (min-width: $desktop-width) {
  .product-week {
    position: relative;
    justify-content: flex-start;
    padding: 137px 50px 23px 97px;

    background-position: 20px 0;
  }

  .product-week__title {
    padding-left: 58px;
    z-index: 1;
  }

  .product-week__legend {
    margin-top: 15px;
    margin-right: 53px;

    order: -1;
  }

  .product-week__list {
    margin-top: 49px;
    margin-bottom: 111px;
    margin-left: 0;
  }

  .product-week__description {
    padding-left: 129px;
  }

  .product-week__note {
    width: 284px;
    padding-left: 0;
  }

  .product-week__price {
    padding-left: 72px;
  }

  .product-week__image {
    width: 525px;
    height: 636px;
    top: -158px;
  }

  .product-week__order {
    margin-top: 39px;
  }
}
