.produce {
  display: flex;
  flex-direction: column;
}

.produce__order {
  margin-top: 29px;
  margin-right: 34px;
  margin-bottom: 33px;
  margin-left: 34px;
  padding-right: 26px;
  padding-bottom: 16px;
  padding-left: 26px;
}
