.product-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 0;

  list-style: none;
}

.product-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  border: 1px solid $color-border;
}

.product-list__info {
  display: flex;
  flex-direction: column;
  padding: 29px;
  padding-right: 0;
}

.product-list__description {
  margin-bottom: 27px;
}

.product-list__link {
  color: $black;
}

.product-list__title {
  margin: 0;

  font-size: 17px;
  font-weight: $font-weight-bold;
}

.product-list__characteristics {
  margin: 0;

  font-size: 13px;
  line-height: 30px;
  color: $color-main;
}

.product-list__purchase {
  width: 204px;
  display: flex;
  justify-content: space-between;
  padding-top: 27px;

  border-top: 1px solid $color-border;
}

.product-list__price {
  color: $black;
  font-weight: $font-weight-bold;
}

.product-list__buy {
  width: 20px;
  height: 19px;

  background: none;
  border: none;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .product-list {
    width: 768px;
    margin-top: -24px;
    background: url("../../img/bg-zigzag-fill.svg") left top;
  }

  .product-list__item {
    flex-wrap: wrap;
    flex-direction: row;
    width: 666px;
  }

  .product-list__image {
    width: 334px;
    height: 334px;
  }

  .product-list__title {
    font-size: 20px;
  }

  .product-list__description {
    width: 270px;
    margin: 0;
  }

  .product-list__purchase {
    width: 268px;
    margin-top: auto;
  }

  .product-list__characteristics {
    font-size: 15px;
  }

  .product-list__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .product-list {
    width: 1150px;
    padding: 111px 51px 0 49px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .product-list__item {
    flex-direction: column;
    width: 316px;
    padding: 0;
  }

  .product-list__info {
    min-height: 197px;
  }


  .product-list__purchase {
    width: 256px;
  }

  .product-list__description {
    margin: 0;
  }

  .product-list__image {
    width: 316px;
    height: 462px;
  }
}
