.radio1 {
  margin-top: 20px;
}

.radio1__label {
  position: relative;
  padding-left: 62px;
  padding-top: 8px;
  margin-bottom: 14px;

  line-height: 19px;

  &:last-child {
    margin-bottom: 19px;
  }
}

.radio1__input + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid $color-main;
  border-radius: 50%;
}

.radio1__input:checked + label::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;

  background-color: $color-secondary;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .radio1 {
    margin-top: 0;
  }

  .radio1__label {
    margin-bottom: 49px;
    padding-left: 80px;
  }

  .radio1__input + label::before {
    top: -8px;
    left: 0;
    width: 52px;
    height: 53px;
  }

  .radio1__input:checked + label::after {
    top: 8px;
    left: 15px;
    width: 22px;
    height: 22px;
  }
}
