.reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reviews__wrapper {
  padding: 27px 30px 0;
}

.reviews__title {
  padding-top: 0;
}

.reviews__write {
  margin: 36px 30px 46px;
  padding-top: 13px;
  padding-left: 78px;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 100%;
    position: relative;
    margin-top: 23px;
    margin-bottom: 32px;
  }

  .reviews__wrapper {
    display: flex;
    flex-direction: column;
    padding: 77px 52px 53px 44px;

    background: $white url("../img/review@1x.jpg") left top no-repeat;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/review@2x.jpg") left top no-repeat;
      background-size: 350px 457px;
    }
  }

  .reviews__write {
    width: 175px;
    height: 52px;
    position: absolute;
    top: 79px;
    right: 50px;
    margin: 0;
    padding: 15px 0;

    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-top: 30px;
  }

  .reviews__wrapper {
    margin-left: 50px;
    padding-top: 72px;
    padding-bottom: 64px;
    padding-left: 171px;
  }

  .reviews__write {
    top: 82px;
    right: 50px;
  }
}
