.reviews {
  display: flex;
  flex-direction: column;
}

.reviews__wrapper {
  padding-top: 24px;
  padding-left: 30px;
  padding-right: 30px;
}

.reviews__title {
  padding-top: 0;
}

.reviews__write {
  margin-top: 39px;
  margin-right: 30px;
  margin-bottom: 45px;
  margin-left: 30px;
  padding-top: 13px;
  padding-bottom: 15px;
}
