.reviews {
  display: flex;
  flex-direction: column;
}

.reviews__wrapper {
  padding-top: 21px;
  padding-left: 30px;
  padding-right: 30px;
}

.reviews__title {
  padding-top: 0;
}

.reviews__write {
  margin: 39px auto 46px;
  padding-top: 13px;
  padding-left: 78px;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 768px;
    position: relative;
    margin-top: 23px;
    margin-bottom: 32px;

    background: $white url("../../img/review@1x.jpg") left top no-repeat;
  }

  .reviews__wrapper {
    display: flex;
    flex-direction: column;
    padding: 77px 52px 53px 45px;
  }

  .reviews__write {
    width: 175px;
    height: 52px;
    position: absolute;
    top: 79px;
    right: 50px;
    margin: 0;
    padding: 15px 0;

    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 1050px;
    margin-top: 30px;

    @include container;
  }

  .reviews__wrapper {
    padding-top: 69px;
    padding-bottom: 64px;
    padding-left: 171px;
  }

  .reviews__write {
    right: 0;
  }
}
