.site-list {
  margin: 0px;
  padding: 0px;
}

.site-list__item {
  padding-top: 32px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 0px 0px #ececec, inset 0px 1px 0px 0px #ececec;
}

.site-list__link {
  font-size: 17px;
  color: $font-color-bold;
  font-weight: $font-weight-bold;
}
