.slider__list {
  @include list;
  margin-top: 23px;
  margin-bottom: 29px;
}

.slider__text {
  margin: 0;
  margin-bottom: 27px;

  line-height: 30px;
  text-align: left;

  br {
    display: none;
  }
}

.slider__author-name {
  color: $black;
  font-size: 17px;
}

.slider__author-id {
  display: block;
  margin-top: 4px;

  font-size: 17px;
  line-height: 30px;
}

.slider__toggles {
  display: flex;
  margin: 0;

  border: 1px solid #ececec;
}

.slider__toggle {
  width: 50%;
  height: 52px;
  padding: 0;

  @include button;
  background: url("../img/icon-left-arrow.svg") no-repeat center;

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }
  cursor: pointer;

  &:first-of-type {
    border-right: 1px solid #ececec;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .slider {
    position: relative;
  }

  .slider__list {
    padding: 0;
    margin-top: 49px;
    padding-left: 5px;

    font-size: 17px;
  }

  .slider__item {
    display: flex;
    flex-direction: column;
  }

  .slider__text {
    margin-bottom: 56px;
  }

  .slider__author-name {
    margin-left: 1px;

    font-size: 18px;
  }

  .slider__author-id {
    margin-top: 4px;
    padding: 0;

    letter-spacing: 0;
  }

  .slider__toggles {
    width: 137px;
    justify-content: space-between;
    position: absolute;
    bottom: 99px;
    right: 69px;

    border: none;
  }

  .slider__toggle {
    width: 50px;
    height: 26px;

    &:first-of-type {
      border: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider__list {
    margin-top: 50px;
    margin-bottom: 67px;
  }

  .slider__text {
    margin-bottom: 38px;

    br {
      display: block;
    }
  }

  .slider__author-name {
    font-size: 17px;
  }

  .slider__author-id {
    margin-top: 4px;
  }

  .slider__toggles {
    bottom: 145px;
    right: 69px;
  }
}
