.slider__list {
  @include list;
  padding-top: 25px;
  padding-bottom: 31px;
}

.slider__text {
  margin: 0;
  padding-bottom: 27px;

  line-height: 30px;
  text-align: left;
}

.slider__author-name {
  color: $black;
  font-size: 17px;
}

.slider__author-id {
  line-height: 30px;
}

.slider__toggles {
  display: flex;
  margin: 0;
}

.slider__toggle {
  width: 130px;
  height: 52px;

  @include button;
  background: url("../../img/icon-left-arrow.svg") no-repeat center;
  border: 1px solid $color-border;

  &--next {
    background-image: url("../../img/icon-right-arrow.svg");
  }
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .slider {
    position: relative;
  }

  .slider__list {
    padding: 0;
    padding-top: 56px;

    font-size: 17px;
  }

  .slider__item {
    display: flex;
    flex-direction: column;
  }

  .slider__text {
    padding-bottom: 56px;
  }

  .slider__toggles {
    width: 137px;
    justify-content: space-between;
    position: absolute;
    bottom: 62px;
    right: 71px;
  }

  .slider__toggle {
    width: 50px;
    height: 26px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .slider__text {
    white-space: pre-line;
  }

  .slider__toggles {
    right: 19px;
  }
}
