.social {
  padding: 30px 60px 17px;

  border-bottom: 1px solid $gray-darken;
}

.social__list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;

  list-style: none;
}

.social__item {
  margin-right: 35px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.social__link {
  &:hover .social__icon {
    fill: $email-hover;
  }

  &:focus {
    outline: none;

    & .social__icon {
      fill: $email-hover;
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
    margin-top: 14px;

    transform: translateX(38px);

    border: none;
  }

  .social__item {
    margin-right: 40px;

    &:nth-child(3n) {
      margin-right: 40px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
