.social {
  padding: 30px 62px 17px 57px;
}

.social__list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .social {
    width: 141px;
    padding: 0;
    margin-left: 78px;
    margin-top: 32px;
  }
}

@media (min-width: $desktop-width) {
  .social__link:hover .social__icon {
    fill: $email-hover;
  }

  .social__link:focus {
    outline: none;

    & .social__icon {
      fill: $email-hover;
      opacity: 0.3;
    }
  }
}
