.textfield {
  padding-top: 9px;
  padding-bottom: 0;
}

.textfield__label {
  padding-top: 24px;
}

.textfield__input {
  padding-top: 18px;
  padding-bottom: 17px;

  font-family: $font-family;
  font-size: 17px;
  line-height: 18px;
  color: $color-textfield;

  border: none;
  box-shadow: 0 2px 0 0 $black;
}
