.textfield {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}

.textfield__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.textfield__input {
  box-sizing: border-box;
  padding: 15px 0 16px 0;

  @include input-field;
  line-height: 20px;
  color: $color-main;

  border-radius: 0;

  &::placeholder {
    color: $color-placeholder;
  }
}

@media (min-width: $tablet-width) {
  .textfield {
    margin-top: 0;
    padding-right: 50px;
  }

  .textfield__block {
    flex-direction: row;
    margin-bottom: 37px;
  }

  .textfield__input {
    width: 100%;
    margin-left: 26px;
    padding-top: 0;
    padding-bottom: 9px;
    padding-left: 18px;

    font-size: 19px;
    line-height: 19px;
  }
}

@media (min-width: $desktop-width) {
  .textfield {
    padding-right: 225px;
  }

  .textfield__input {
    margin-left: 32px;

    &:hover {
      border-color: $control-hover;
    }

    &:focus {
      outline: none;
      border-color: $control-hover;
    }
  }
}
