.textfield {
  margin-top: 22px;
  margin-bottom: 27px;
}

.textfield__input {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 16px;
  margin-bottom: 19px;

  font-family: $font-family;
  font-size: 17px;
  line-height: 18px;
  color: $color-main;

  border: none;
  border-bottom: 2px solid $black;

  &::placeholder {
    color: $color-placeholder;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    border-color: $color-secondary;
  }

  &:focus {
    outline: none;
    border-color: $color-secondary;
  }
}

.textfield__group {
  margin-bottom: 19px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .textfield {
    margin-top: -17px;
    margin-bottom: 0;
  }

  .textfield__group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .textfield__label {
    margin-right: 25px;
  }

  .textfield__input {
    padding: 14px 0 15px 17px;
    font-size: 19px;
    line-height: 19px;
  }
}

@media (min-width: $desktop-width) {
  .textfield__group {
    margin-right: 175px;
  }
}
