.user-list {
  @include list;
}

.user-list__item {
  padding-top: 27px;
  padding-bottom: 28px;
  box-shadow: 0 1px 0 0 $color-border, inset 0 1px 0 0 $color-border;
}

.user-list__link {
  display: block;
  position: relative;
  padding-left: 76px;

  font-size: 17px;
  font-weight: $font-weight-bold;
  color: $black;

  svg {
    position: absolute;
    top: 5px;
    left: 31px;
  }

  &:hover {
    color: $link-hover;

    svg {
      fill: $color-secondary;
    }
  }

  &:focus {
    color: $link-down;

    svg {
      fill: $color-secondary;
      opacity: 0.3;
    }
  }

  &:active {
    color: $link-down;

    svg {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    width: 399px;
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
  }

  .user-list__description {
    @include visually-hidden;
  }

  .user-list__item {
    padding-top: 31px;
    padding-bottom: 32px;

    box-shadow: none;
    border-left: 1px solid $color-border;

    &--search {
      width: 82px;
    }
  }

  .user-list__link {
    padding-left: 85px;

    svg {
      top: 4px;
      left: 33px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-list__link {
    padding-left: 83px;
  }
}
