.user-list {
  margin: 0px;
  padding: 0px;
}

.user-list__item {
  padding-top: 32px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 0px 0px #ececec, inset 0px 1px 0px 0px #ececec;
}

.user-list__link {
  position: relative;
  font-size: 17px;
  color: $font-color-bold;
  font-weight: $font-weight-bold;

  svg {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
