@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff");
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff") format("woff");
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  max-width: 1280px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
  font-style: normal;
  background-color: #ffffff; }

img {
  width: 100%;
  height: auto; }

a {
  text-decoration: none; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@media (min-width: 768px) {
  body {
    min-width: 768px; } }

@media (min-width: 1150px) {
  body {
    min-width: 1150px; } }

.title {
  margin: 0;
  padding-top: 34px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-align: left; }

@media (min-width: 768px) {
  .title {
    font-size: 43px;
    line-height: 50px; } }

@media (min-width: 1150px) {
  .title {
    font-size: 53px;
    line-height: 57px; } }

.button {
  width: auto;
  padding: 15px 85px 13px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #444444;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #444444;
  background-color: transparent; }
  .button:hover {
    color: #ffffff;
    background-color: #444444; }
  .button:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #444444; }

.page-header {
  width: auto;
  padding-top: 22px;
  position: relative; }

.page-header__logo {
  width: 86px;
  height: 35px;
  display: block;
  margin: 0 auto; }
  .page-header__logo:hover {
    opacity: 0.6; }
  .page-header__logo:focus {
    opacity: 0.3; }

@media (min-width: 768px) {
  .page-header {
    padding-top: 0;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .page-header__logo {
    padding-top: 22px;
    width: 112px;
    height: 46px;
    margin-left: 51px; } }

@media (min-width: 1150px) {
  .page-header {
    position: relative; }
  .page-header__logo {
    position: absolute;
    top: -14px;
    left: calc(50% - 74px);
    width: 149px;
    height: 72px;
    margin-left: 0;
    z-index: 2; } }

.main-nav__toggle {
  width: 20px;
  height: 14px;
  position: absolute;
  top: 30px;
  right: 30px;
  background: url("../../img/icon-menu-open.svg") no-repeat;
  border: none;
  cursor: pointer; }

.main-nav__wrapper {
  width: auto;
  margin-top: 22px; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav--opened .main-nav__toggle {
  height: 20px;
  background-image: url("../../img/icon-menu-close.svg"); }

.main-nav--nojs .main-nav__toggle {
  display: none; }

.main-nav--nojs .main-nav__wrapper {
  display: block; }

@media (max-width: 767px) {
  .main-nav--closed {
    margin-bottom: 21px; }
  .main-nav--closed .main-nav__wrapper {
    display: none; } }

@media (min-width: 768px) {
  .main-nav__toggle {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; }
  .main-nav__wrapper {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 1150px) {
  .main-nav {
    width: 100%;
    padding-left: 50px; }
  .main-nav__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; } }

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1; }

.site-list__item {
  padding-top: 27px;
  padding-bottom: 28px;
  -webkit-box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
          box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec; }

.site-list__link {
  padding-left: 76px;
  font-size: 17px;
  font-weight: 700;
  color: #000000; }
  .site-list__link:hover {
    color: rgba(0, 0, 0, 0.6); }
  .site-list__link:focus {
    color: rgba(0, 0, 0, 0.3); }
  .site-list__link:active {
    color: rgba(0, 0, 0, 0.3); }

@media (min-width: 768px) {
  .site-list {
    width: 305px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 79px;
    left: 49px; }
  .site-list__link {
    padding: 0;
    font-size: 15px; }
  .site-list__item {
    -webkit-box-shadow: none;
            box-shadow: none; } }

@media (min-width: 1150px) {
  .site-list {
    width: 410px;
    position: static; }
  .site-list__item {
    padding-top: 31px;
    padding-right: 35px; }
    .site-list__item--catalog {
      border-right: 1px solid #ececec; }
  .site-list__link {
    font-size: 17px; } }

.user-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.user-list__item {
  padding-top: 27px;
  padding-bottom: 28px;
  -webkit-box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
          box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec; }

.user-list__link {
  display: block;
  position: relative;
  padding-left: 76px;
  font-size: 17px;
  font-weight: 700;
  color: #000000; }
  .user-list__link:hover {
    color: rgba(0, 0, 0, 0.6); }
    .user-list__link:hover .user-list__link-icon {
      fill: #63d1bb; }
  .user-list__link:focus {
    color: rgba(0, 0, 0, 0.3); }
    .user-list__link:focus .user-list__link-icon {
      fill: #63d1bb;
      opacity: 0.3; }
  .user-list__link:active {
    color: rgba(0, 0, 0, 0.3); }
    .user-list__link:active .user-list__link-icon {
      opacity: 0.3; }

.user-list__link-icon {
  position: absolute;
  top: 5px;
  left: 31px;
  fill: #ececec; }

@media (min-width: 768px) {
  .user-list {
    width: 399px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: auto; }
  .user-list__description {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; }
  .user-list__item {
    padding-top: 31px;
    padding-bottom: 32px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-left: 1px solid #ececec; }
    .user-list__item--search {
      width: 82px; }
  .user-list__link {
    padding-left: 85px; }
    .user-list__link svg {
      top: 4px;
      left: 33px; } }

@media (min-width: 1150px) {
  .user-list__link {
    padding-left: 83px; } }

.customer-list {
  display: none;
  position: absolute;
  top: 106px;
  left: 0;
  margin: 0;
  font-weight: 700; }

.customer-list__link {
  padding-right: 60px;
  color: #000000; }
  .customer-list__link:hover {
    color: rgba(0, 0, 0, 0.6); }
  .customer-list__link:focus {
    color: rgba(0, 0, 0, 0.3); }
  .customer-list__link:active {
    color: rgba(0, 0, 0, 0.3); }

@media (min-width: 1150px) {
  .customer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3; } }

.page-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.page-main__title {
  width: 100%;
  margin: 0;
  padding: 71px 35px 76px 33px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  background-color: #f9f9f9; }
  .page-main__title--index {
    padding: 73px 38px 120px;
    background: #f9f9f9 url("../../img/hero-mobile@1x.jpg") center -13px no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
      .page-main__title--index {
        background: #f9f9f9 url("../../img/hero-mobile@2x.jpg") center -17px no-repeat;
        background-size: 575px 373px; } }

.page-main__text {
  width: 100%;
  margin: 0;
  padding: 22px 30px 25px 30px;
  font-size: 13px;
  text-align: left; }

.page-main__note {
  position: absolute;
  top: 20px;
  right: 50px;
  margin: 0;
  opacity: 0; }

@media (min-width: 768px) {
  .page-main__note {
    opacity: 1; }
  .page-main__title {
    padding-top: 95px;
    padding-bottom: 95px;
    background: #f1f1f1 url("../../img/bg-zigzag-fill.svg") left bottom repeat-x;
    background-size: 770px 24px;
    font-size: 43px;
    line-height: 50px; }
    .page-main__title--index {
      padding: 154px 127px 491px;
      white-space: normal;
      background: url("../../img/hero-tablet@1x.jpg") center top no-repeat, transparent url("../../img/bg-zigzag-fill.svg") left bottom repeat-x; } }
    @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
      .page-main__title--index {
        background: url("../../img/hero-tablet@2x.jpg") center top no-repeat;
        background-size: 1150px 746px; } }

@media (min-width: 768px) {
  .page-main__text {
    width: 100%;
    margin-top: -24px;
    padding: 84px 105px 6px 51px;
    font-size: 17px;
    line-height: 30px;
    white-space: normal; } }

@media (min-width: 1150px) {
  .page-main__title {
    padding-top: 97px;
    padding-bottom: 117px;
    font-size: 53px;
    line-height: 57px;
    background-size: 1150px 34px; }
    .page-main__title--index {
      padding: 156px 268px 498px;
      background: #f9f9f9 url("../../img/hero-desktop@1x.jpg") center 2px no-repeat; } }
    @media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 1.5dppx) {
      .page-main__title--index {
        background: #f9f9f9 url("../../img/hero-desktop@2x.jpg") center 2px no-repeat;
        background-size: 1150px 746px; } }

@media (min-width: 1150px) {
  .page-main__text {
    width: 100%;
    padding: 130px 253px 0 225px; } }

.catalog-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }

.catalog-list__item {
  width: auto;
  min-height: 103px;
  background-color: #63d1bb; }
  .catalog-list__item--dark {
    background-color: #56c3b2; }
    .catalog-list__item--dark .catalog-list__link {
      background: url("../../img/icon-toy.svg") 90.25% 54% no-repeat; }

.catalog-list__link {
  position: relative;
  display: block;
  width: 100%;
  padding: 8.24% 164px 7.24% 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  background: url("../../img/icon-interior.svg") 87.25% 62% no-repeat; }

@media (min-width: 768px) {
  .catalog-list {
    width: calc(100% - 104px);
    height: 119px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -116px auto 0; }
  .catalog-list__item {
    width: 50%;
    min-height: 107px; }
    .catalog-list__item--dark .catalog-list__link {
      padding-left: 36px;
      background-position: 88.25% 59%; }
  .catalog-list__link {
    padding-left: 34px;
    font-size: 20px;
    line-height: 30px;
    background-position-y: 58%; } }

@media (min-width: 1150px) {
  .catalog-list {
    width: 91.3%;
    margin: -138px 50px 0; }
    .catalog-list:hover {
      margin-top: -139px; }
  .catalog-list__item {
    min-height: 119px; }
    .catalog-list__item--dark .catalog-list__link {
      background-position: 92% 53%; }
    .catalog-list__item:hover {
      -webkit-transform: scale(1, 1.04);
              transform: scale(1, 1.04); }
  .catalog-list__link {
    padding: 5% 306px 6.24% 36px;
    background-position: 92% 53%; }
    .catalog-list__link:hover {
      padding-bottom: 35px; }
    .catalog-list__link:active {
      opacity: 0.3; } }

.product-week {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px; }

.product-week__title {
  padding: 0;
  margin-top: 27px; }

.product-week__legend {
  margin-top: 7px;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  font-weight: 700;
  text-transform: uppercase; }

.product-week__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.product-week__image {
  margin-bottom: 25px; }

.product-week__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 22px; }

.product-week__note {
  margin: 0;
  padding: 0; }

.product-week__list {
  width: 100%;
  margin-top: 18px;
  margin-bottom: 30px;
  border-collapse: collapse;
  line-height: 20px; }
  .product-week__list tr {
    height: 39px;
    border-bottom: 1px solid #444444; }

.product-week__field {
  width: 67px;
  padding: 0;
  padding-right: 27px; }

.product-week__price {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0;
  font-size: 17px;
  font-weight: 700; }

.product-week__order {
  margin-top: 26px;
  margin-bottom: 36px;
  padding-top: 13px;
  padding-left: 81px;
  cursor: pointer; }

@media (min-width: 768px) {
  .product-week {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-top: -13px;
    padding: 57px 53px 0 47px;
    background: url("../../img/bg-zigzag-fill.svg") top repeat-x;
    background-size: 770px 24px; }
  .product-week__title {
    margin: 0; }
  .product-week__legend {
    width: 70px;
    margin-top: 12px;
    margin-right: 26px;
    line-height: 17px;
    text-align: center; }
  .product-week__description {
    width: 100%;
    position: relative;
    margin-top: 49px; }
  .product-week__note {
    width: 42.9%;
    padding-left: 3px;
    font-size: 17px;
    line-height: 30px; }
  .product-week__list {
    width: 42.89%;
    margin-top: 36px;
    margin-left: 4px;
    margin-bottom: 58px; }
  .product-week__price {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 20px;
    padding-left: 74px; }
  .product-week__order {
    width: 43.9%;
    margin-top: 35px;
    margin-bottom: 53px;
    padding-left: 86px;
    font-size: 17px; }
  .product-week__pictures {
    display: block;
    position: absolute;
    top: 9px;
    right: 0; }
  .product-week__image {
    width: 333px;
    height: 404px; }
  .product-week__field {
    padding-right: 25px; } }

@media (min-width: 1150px) {
  .product-week {
    position: relative;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 135px 50px 23px 97px;
    background-size: 1250px 34px; }
  .product-week__title {
    z-index: 1; }
  .product-week__legend {
    margin-top: 15px;
    margin-right: 53px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .product-week__list {
    width: 33%;
    margin-top: 48px;
    margin-bottom: 111px;
    margin-left: 0; }
  .product-week__description {
    padding-left: 129px; }
  .product-week__note {
    width: 33%;
    padding-left: 0; }
  .product-week__price {
    padding-left: 73px; }
  .product-week__pictures {
    top: -158px; }
  .product-week__image {
    width: 525px;
    height: 636px; }
  .product-week__order {
    width: 33%; } }

.advantages {
  width: 100%;
  padding: 0 29px;
  background: url("../../img/bg-zigzag-line.svg") -5px top repeat-x;
  background-size: auto 6px; }

.advantages__title {
  padding-top: 34px;
  padding-bottom: 32px; }

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none; }

.advantages__item {
  padding-top: 32px;
  padding-bottom: 30px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  white-space: pre-line;
  background: 10px 1px no-repeat; }
  .advantages__item--ecology {
    background-image: url("../../img/icon-feature-flower.svg"); }
  .advantages__item--price {
    background-image: url("../../img/icon-feature-money.svg"); }
  .advantages__item--like {
    background-image: url("../../img/icon-feature-heart.svg"); }
  .advantages__item--handmade {
    background-image: url("../../img/icon-feature-ball.svg"); }
  .advantages__item--home-product {
    background-image: url("../../img/icon-feature-rocket.svg"); }
  .advantages__item--present {
    background-image: url("../../img/icon-feature-gift.svg"); }
  .advantages__item:nth-child(odd) {
    padding-top: 34px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }

@media (min-width: 605px) {
  .advantages {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .advantages__list {
    width: 100%;
    margin-left: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .advantages__item {
    width: 47%; }
    .advantages__item:nth-child(odd) {
      padding-top: 30px;
      padding-left: 0;
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0; } }

@media (min-width: 768px) {
  .advantages {
    padding-top: 66px;
    padding-left: 45px;
    background-position: -17px top;
    background-size: auto 15px; }
  .advantages__title {
    padding: 0; }
  .advantages__list {
    margin-top: 50px;
    margin-left: 4px; }
  .advantages__item {
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 10px;
    font-size: 20px;
    line-height: 22px; } }

@media (min-width: 1150px) {
  .advantages {
    padding-top: 80px;
    padding-left: 219px;
    background-size: 1050px 23px;
    background-position: 24px 0; }
  .advantages__list {
    width: 91%;
    margin-top: 52px; }
  .advantages__item {
    width: 40%;
    padding-bottom: 58px;
    padding-left: 25px; }
    .advantages__item:nth-child(even) {
      background-position: 25px 2px; }
    .advantages__item:nth-child(odd) {
      padding-left: 3px; } }

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
  background-color: #f1f1f1; }

.page-footer__logo {
  display: none; }
  .page-footer__logo:hover {
    fill: #46c1ae; }
  .page-footer__logo:focus {
    outline: none;
    fill: #46c1ae;
    opacity: 0.3; }

@media (min-width: 768px) {
  .page-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 50px 57px 50px; }
  .page-footer__logo {
    display: block;
    padding-top: 22px; } }

.social {
  padding: 30px 62px 17px 57px;
  border-bottom: 1px solid #e4e4e4; }

.social__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none; }

.social__link:hover .social__icon {
  fill: #46c1ae; }

.social__link:focus {
  outline: none; }
  .social__link:focus .social__icon {
    fill: #46c1ae;
    opacity: 0.3; }

@media (min-width: 768px) {
  .social {
    width: 141px;
    padding: 0;
    margin-left: 78px;
    margin-top: 35px;
    border: none; } }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 23px 0; }

.copyright__text {
  margin-right: 19px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000; }

.copyright__image {
  vertical-align: middle;
  fill: #63d1bb; }

.copyright__link:hover .copyright__image {
  fill: #46c1ae; }

.copyright__link:focus {
  outline: none;
  opacity: 0.3; }

@media (min-width: 768px) {
  .copyright {
    padding: 0;
    margin: 0;
    margin-top: 21px; } }

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 0;
  padding-top: 30px;
  width: 81.8%;
  list-style: none; }

.product-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  border: 1px solid #ececec; }
  .product-list__item:hover .product-list__info {
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }
  .product-list__item:focus .product-list__info {
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }

.product-list__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 22px 27px 27px 28px; }

.product-list__description {
  margin-bottom: 19px; }

.product-list__link {
  color: #000000; }
  .product-list__link:hover .product-list__title {
    opacity: 0.6; }
  .product-list__link:focus {
    outline: none; }
    .product-list__link:focus .product-list__title {
      outline: none;
      opacity: 0.3; }

.product-list__title {
  margin: 0;
  font-size: 17px;
  font-weight: 700; }

.product-list__characteristics {
  margin: 0;
  margin-top: 4px;
  font-size: 13px;
  line-height: 30px;
  color: #444444; }

.product-list__purchase {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 21px;
  border-top: 1px solid #ececec; }

.product-list__price {
  color: #000000;
  font-weight: 700; }

.product-list__buy {
  width: 20px;
  height: 19px;
  margin-left: auto;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer; }
  .product-list__buy:hover .product-list__buy-icon {
    fill: #63d1bb;
    opacity: 1; }
  .product-list__buy:focus {
    outline: none; }
    .product-list__buy:focus .product-list__buy-icon {
      fill: #63d1bb;
      opacity: 0.3; }

.product-list__buy-icon {
  opacity: 0.2; }

@media (min-width: 768px) {
  .product-list {
    width: 86.8%;
    margin: 0 auto 0;
    padding: 65px 0 0; }
  .product-list__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-bottom: 53px; }
  .product-list__info {
    width: calc(100% - 334px);
    padding: 26px 31px 17px 25px; }
  .product-list__image {
    display: block;
    width: 334px;
    height: 334px; }
  .product-list__title {
    font-size: 20px; }
  .product-list__description {
    width: auto;
    margin: 0; }
  .product-list__purchase {
    width: auto;
    margin-top: auto;
    padding-top: 22px;
    padding-bottom: 11px;
    padding-left: 5px; }
  .product-list__characteristics {
    margin-top: 5px;
    font-size: 15px; }
  .product-list__price {
    font-size: 17px; }
  .product-list__buy {
    margin-right: 0; } }

@media (min-width: 1150px) {
  .product-list {
    width: 91.5%;
    padding: 112px 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .product-list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 316px;
    padding: 0; }
  .product-list__info {
    width: 100%;
    min-height: 197px;
    padding-top: 27px;
    padding-bottom: 14px;
    padding-left: 26px; }
  .product-list__image {
    width: 316px;
    height: 462px; }
  .product-list__purchase {
    width: 256px;
    padding-top: 24px;
    padding-left: 0; }
  .product-list__description {
    margin: 0; } }

.reviews {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.reviews__wrapper {
  padding: 27px 30px 0; }

.reviews__title {
  padding-top: 0; }

.reviews__write {
  margin: 36px 30px 46px;
  padding-top: 13px;
  padding-left: 78px; }

@media (min-width: 768px) {
  .reviews {
    width: 100%;
    position: relative;
    margin-top: 23px;
    margin-bottom: 32px; }
  .reviews__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 77px 52px 53px 44px;
    background: #ffffff url("../../img/review@1x.jpg") left top no-repeat; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .reviews__wrapper {
      background: url("../../img/review@2x.jpg") left top no-repeat;
      background-size: 350px 457px; } }

@media (min-width: 768px) {
  .reviews__write {
    width: 175px;
    height: 52px;
    position: absolute;
    top: 79px;
    right: 50px;
    margin: 0;
    padding: 15px 0;
    font-size: 17px; } }

@media (min-width: 1150px) {
  .reviews {
    margin-top: 30px; }
  .reviews__wrapper {
    margin-left: 50px;
    padding-top: 72px;
    padding-bottom: 64px;
    padding-left: 171px; }
  .reviews__write {
    top: 82px;
    right: 50px; } }

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 23px;
  margin-bottom: 29px; }

.slider__text {
  margin: 0;
  margin-bottom: 27px;
  line-height: 30px;
  text-align: left; }

.slider__author-name {
  color: #000000;
  font-size: 17px; }

.slider__author-id {
  display: block;
  margin-top: 4px;
  font-size: 17px;
  line-height: 30px; }

.slider__toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  border: 1px solid #ececec; }

.slider__toggle {
  width: 50%;
  height: 52px;
  padding: 0;
  background-color: transparent;
  border: none;
  background: url("../../img/icon-left-arrow.svg") no-repeat center;
  cursor: pointer; }
  .slider__toggle--next {
    background-image: url("../../img/icon-right-arrow.svg"); }
  .slider__toggle:first-of-type {
    border-right: 1px solid #ececec; }
  .slider__toggle:hover {
    opacity: 0.6; }
  .slider__toggle:focus {
    outline: none;
    opacity: 0.3; }

@media (min-width: 768px) {
  .slider {
    position: relative; }
  .slider__list {
    padding: 0;
    margin-top: 49px;
    padding-left: 5px;
    font-size: 17px; }
  .slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .slider__text {
    margin-bottom: 56px; }
  .slider__author-name {
    margin-left: 1px;
    font-size: 17px; }
  .slider__author-id {
    margin-top: 4px;
    padding: 0;
    letter-spacing: 0; }
  .slider__toggles {
    width: 137px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    bottom: 99px;
    right: 69px;
    border: none; }
  .slider__toggle {
    width: 50px;
    height: 26px; }
    .slider__toggle:first-of-type {
      border: none; } }

@media (min-width: 1150px) {
  .slider__list {
    margin-top: 20px;
    margin-bottom: 67px; }
  .slider__text {
    margin-bottom: 38px;
    white-space: pre-line; }
  .slider__author-id {
    margin-top: 4px; }
  .slider__toggles {
    bottom: 145px;
    right: 69px; } }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 41px;
  width: 100%;
  background: url("../../img/bg-zigzag-line.svg") left top repeat-x;
  background-size: auto 6px; }

.contacts__title {
  margin: 0;
  padding: 0 29px;
  color: #000000;
  font-size: 18px;
  line-height: 30px; }

.contacts__list {
  padding: 23px 27px 35px;
  line-height: 30px; }

.contacts__field {
  width: 29%;
  padding: 0;
  padding-bottom: 28px;
  vertical-align: top; }

.contacts__value {
  padding: 0;
  vertical-align: top; }

.contacts__email {
  color: inherit;
  border-bottom: 1px solid #63d1bb; }
  .contacts__email:hover {
    color: #46c1ae;
    border-color: #46c1ae; }
  .contacts__email:focus {
    outline: none;
    color: #46c1ae;
    opacity: 0.3; }

.contacts__map {
  width: 100%;
  border: none; }

.contacts__write {
  margin: 40px 30px;
  padding: 13px 47px 13px 48px; }

@media (min-width: 768px) {
  .contacts {
    position: relative;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding-top: 77px;
    padding-bottom: 57px;
    background-position: left top;
    background-size: auto 15px; }
    .contacts::before {
      content: "";
      position: absolute;
      top: 62px;
      right: 53px;
      width: 47px;
      height: 81px;
      background: url("../../img/icon-flag.svg") no-repeat; }
  .contacts__title {
    padding-left: 45px;
    font-size: 43px;
    line-height: 50px; }
  .contacts__list {
    width: 100%;
    padding: 47px 59px 52px 46px;
    font-size: 17px; }
  .contacts__list tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 97%; }
  .contacts__field {
    width: 25%; }
  .contacts__value {
    width: 247px; }
  .contacts__map {
    width: 100%; }
  .contacts__write {
    -ms-flex-item-align: center;
        align-self: center;
    width: 230px;
    height: 52px;
    margin: 0;
    margin-top: 55px;
    padding: 14px 0;
    font-size: 17px; } }

@media (min-width: 1150px) {
  .contacts {
    position: relative;
    padding-top: 108px;
    padding-bottom: 105px;
    padding-left: 220px;
    background-size: 1052px 23px;
    background-position: 23px 0; }
    .contacts::before {
      top: 155px;
      left: 113px; }
  .contacts__title {
    padding: 0;
    padding-top: 59px;
    font-size: 53px; }
  .contacts__map {
    position: absolute;
    top: 92px;
    right: 51px;
    width: 45.65%;
    height: 457px; }
  .contacts__write {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0;
    margin-top: 74px;
    margin-left: 6px;
    padding-top: 16px; }
  .contacts__list {
    padding: 0;
    padding-top: 46px; }
  .contacts__list tbody {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contacts__field {
    width: 23.3%; } }

.produce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 81.8%;
  margin: 0 auto 56px;
  padding-top: 23px;
  border: 1px solid #ececec; }
  .produce:hover {
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }
  .produce:active {
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }

.produce__title {
  margin: 0;
  padding-bottom: 25px;
  padding-left: 90px;
  color: #000000;
  font-size: 17px;
  background: url("../../img/icon-video.svg") no-repeat 34px 5px; }

.produce__video {
  position: relative; }

.produce__icon {
  width: 102px;
  height: 78px;
  position: absolute;
  top: calc(50% - 43px);
  left: calc(50% - 51px);
  cursor: pointer; }
  .produce__icon:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .produce__icon:active {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.3; }

.produce__text {
  margin: 0;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 33px;
  font-size: 13px; }

.produce__order {
  -ms-flex-item-align: center;
      align-self: center;
  width: 192px;
  margin: 25px 34px 33px;
  padding-right: 21px;
  padding-bottom: 16px;
  padding-left: 17px;
  font-size: 17px;
  line-height: 17px; }

@media (min-width: 768px) {
  .produce {
    width: 86.8%;
    margin-bottom: 63px;
    padding-top: 0; }
  .produce__title {
    padding-top: 36px;
    padding-bottom: 33px;
    padding-left: 105px;
    font-size: 20px;
    background-position: 40px 32px; }
  .produce__video {
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .produce__pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
  .produce__text {
    padding: 0 39px 0;
    font-size: 15px;
    line-height: 30px; }
  .produce__order {
    display: block;
    width: 584px;
    height: 52px;
    margin: 35px 42px 46px; } }

@media (min-width: 1150px) {
  .produce {
    width: 91.5%;
    position: relative;
    min-height: 455px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 4px auto 106px;
    padding-right: 52px;
    padding-left: 760px; }
  .produce__title {
    padding: 0;
    padding-top: 94px;
    padding-bottom: 33px;
    background-position: 0 41px; }
  .produce__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px; }
  .produce__text {
    width: 230px;
    margin-left: -6px;
    padding: 0; }
  .produce__order {
    width: 230px;
    height: 52px;
    margin: 0;
    margin-top: 46px;
    margin-bottom: 42px; } }

.input-field {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000000; }

.form {
  width: 100%;
  margin-bottom: 55px;
  padding: 0 30px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000; }

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.form__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
  color: #63d1bb;
  text-transform: uppercase; }
  .form__category::after {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 25px;
    height: 1px;
    background-color: #63d1bb; }

.form__textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 142px;
  margin-top: 23px;
  margin-bottom: 14px;
  padding: 14px 0 0 15px;
  border: 2px solid #444444;
  resize: none;
  overflow: auto; }
  .form__textarea::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .form__textarea::-moz-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .form__textarea:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .form__textarea::-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .form__textarea::placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .form__textarea:hover {
    border-color: #62d1ba; }
  .form__textarea:focus {
    outline: none;
    border-color: #62d1ba; }

.form__legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444; }

.form__submit {
  width: 100%;
  height: 52px;
  margin-top: 31px;
  padding: 0;
  font-size: 17px;
  line-height: 17px; }

@media (min-width: 768px) {
  .form {
    width: 100%;
    margin-bottom: 50px;
    padding: 0;
    font-size: 19px;
    line-height: 19px; }
  .form__category {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    margin-top: 16px;
    margin-left: 50px;
    font-size: 17px;
    line-height: 17px; }
    .form__category::after {
      display: none; }
  .form__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 13px;
    padding-top: 64px; }
    .form__item:nth-child(even) {
      margin-bottom: 0;
      padding-bottom: 13px;
      background-color: #f1f1f1; }
    .form__item:last-of-type {
      padding-top: 54px; }
  .form__textarea {
    width: 65%;
    margin-top: 0;
    margin-right: 50px;
    font-size: 19px;
    line-height: 19px; }
  .form__submit {
    width: 29.95%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 26px;
    margin-left: 50px; }
  .form__legend {
    position: absolute;
    bottom: 63px;
    right: 50px;
    font-size: 17px;
    line-height: 30px; } }

@media (min-width: 1150px) {
  .form__item {
    margin-bottom: 5px; }
    .form__item:last-of-type {
      padding-top: 52px; }
  .form__category {
    margin-left: 112px; }
  .form__textarea {
    width: 61%;
    margin-right: 225px;
    padding-top: 11px; }
  .form__submit {
    width: 19.95%;
    margin-top: 33px;
    margin-left: 225px; }
  .form__legend {
    right: 225px; } }

.control-group__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  color: #63d1bb;
  text-transform: uppercase; }
  .control-group__title::after {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 25px;
    height: 1px;
    background-color: #63d1bb; }

@media (min-width: 768px) {
  .control-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 66px; }
  .control-group__title {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 52px;
    font-size: 17px;
    line-height: 17px; }
    .control-group__title::after {
      display: none; }
  .control-group__item {
    width: 72%; } }

@media (min-width: 1150px) {
  .control-group {
    padding-top: 69px; }
  .control-group__item {
    width: 81%; }
  .control-group__title {
    padding-left: 112px; } }

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 23px;
  margin-bottom: 29px; }

.radio__input {
  margin: 0; }
  .radio__input:hover + label::before {
    border-color: #62d1ba; }
  .radio__input:focus + label::before {
    border-color: rgba(68, 68, 68, 0.3); }
  .radio__input:active + label::before {
    border-color: rgba(68, 68, 68, 0.3); }

.radio__label {
  position: relative;
  padding-top: 10px;
  padding-left: 62px;
  padding-bottom: 14px;
  cursor: pointer; }

.radio__input + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #444444;
  border-radius: 50%; }

.radio__input:checked + label::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  background-color: #63d1bb;
  border-radius: 50%; }

@media (min-width: 768px) {
  .radio {
    margin: 0; }
  .radio__label {
    padding-top: 0;
    padding-bottom: 56px;
    padding-left: 82px; }
  .radio__input + label::before {
    top: -15px;
    left: 2px;
    width: 52px;
    height: 53px; }
  .radio__input:checked + label::after {
    top: 0;
    left: 17px;
    width: 22px;
    height: 22px; } }

@media (min-width: 1150px) {
  .radio__label {
    padding-top: 2px;
    padding-left: 86px; }
  .radio__input + label::before {
    top: -13px;
    left: 6px; }
  .radio__input:checked + label::after {
    top: 2px;
    left: 21px; } }

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 23px;
  margin-bottom: 10px; }

.checkbox__label {
  position: relative;
  margin-bottom: 19px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 63px;
  cursor: pointer; }

.checkbox__input + .checkbox__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 39px;
  border: 2px solid #444444; }

.checkbox__input:checked + .checkbox__label::before {
  background: url("../../img/icon-tick.svg") center no-repeat;
  background-size: 22px 16px; }

.checkbox__input:hover + .checkbox__label::before {
  border-color: #62d1ba; }

.checkbox__input:focus + .checkbox__label::before {
  border-color: rgba(68, 68, 68, 0.3); }

.checkbox__input:active + .checkbox__label::before {
  border-color: rgba(68, 68, 68, 0.3); }

@media (min-width: 768px) {
  .checkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding-right: 30px; }
  .checkbox__label {
    width: 50%;
    margin-bottom: 44px;
    padding-top: 0;
    padding-left: 83px; }
  .checkbox__input + .checkbox__label::before {
    width: 54px;
    height: 52px;
    top: -14px;
    left: 3px; }
  .checkbox__input:checked + .checkbox__label::before {
    background-size: 33px 22px; } }

@media (min-width: 1150px) {
  .checkbox {
    padding-right: 50px; }
  .checkbox__label {
    width: 30%;
    padding-left: 86px; }
  .checkbox__input + .checkbox__label::before {
    top: -16px;
    left: 5px; } }

.textfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 28px; }

.textfield__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px; }

.textfield__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 0 16px 0;
  line-height: 20px;
  color: #444444;
  border-radius: 0; }
  .textfield__input::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .textfield__input::-moz-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .textfield__input:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .textfield__input::-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .textfield__input::placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .textfield__input:hover {
    border-color: #62d1ba; }
  .textfield__input:focus {
    outline: none;
    border-color: #62d1ba; }

@media (min-width: 768px) {
  .textfield {
    margin-top: 0;
    padding-right: 50px; }
  .textfield__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 37px; }
  .textfield__input {
    width: 100%;
    margin-left: 26px;
    padding-top: 0;
    padding-bottom: 9px;
    padding-left: 18px;
    font-size: 19px;
    line-height: 19px; } }

@media (min-width: 1150px) {
  .textfield {
    padding-right: 225px; }
  .textfield__label {
    margin-left: 8px; }
  .textfield__input {
    margin-left: 24px; } }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100; }
  .modal--opened {
    display: block; }
  .modal--closed {
    display: none; }

.modal__container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 29px 30px 40px;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
          box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25); }

.modal__title {
  padding-top: 0;
  text-align: center;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .modal__container {
    width: 566px;
    padding: 32px 105px 47px; }
  .modal__title {
    font-size: 30px;
    line-height: 57px; }
    .modal__title br {
      display: none; } }

@media (min-width: 1150px) {
  .modal__container {
    padding-top: 35px; } }

.form-add {
  width: 260px; }

.form-add__block {
  margin-top: 12px; }

.form-add__text {
  margin: 0;
  margin-bottom: 37px;
  line-height: 30px;
  text-align: center; }

.form-add__label {
  width: 82px;
  height: 52px;
  padding: 12px 34px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  border: 2px solid #ececec;
  cursor: pointer; }
  .form-add__label:hover {
    border-color: rgba(68, 68, 68, 0.3); }

.form-add__field:checked + .form-add__label {
  border-color: #63d1bb; }

.form-add__button {
  margin-top: 44px;
  padding-top: 20px;
  padding-bottom: 16px;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  background-color: #63d1bb;
  border: none;
  cursor: pointer; }

@media (min-width: 768px) {
  .form-add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .form-add__block {
    width: 350px; }
  .form-add__choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 100%;
    margin-top: 22px; }
  .form-add__label {
    width: 112px;
    padding: 15px 48px; }
  .form-add__text {
    margin: 0;
    font-size: 17px; }
  .form-add__button {
    width: 100%;
    margin-top: 30px; } }

.contact-details__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }

.contact-details__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 9px;
  color: #63d1bb;
  text-transform: uppercase; }
  .contact-details__category::after {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 25px;
    height: 1px;
    background-color: #63d1bb; }

.contact-details__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 19px 0 18px 0;
  margin-bottom: 24px;
  background: transparent;
  border-radius: 0; }
  .contact-details__input--phone {
    padding: 15px 0 14px 0;
    font-size: 19px;
    line-height: 19px; }
  .contact-details__input::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .contact-details__input::-moz-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .contact-details__input:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .contact-details__input::-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .contact-details__input::placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .contact-details__input:hover {
    border-color: #62d1ba; }
    .contact-details__input:hover + .contact-details__icon {
      fill: #62d1ba; }
  .contact-details__input:focus {
    outline: none;
    border-color: #62d1ba; }
    .contact-details__input:focus + .contact-details__icon {
      fill: #62d1ba; }

.contact-details__icon {
  position: absolute;
  top: 45px;
  right: 8px;
  fill: #cccccc; }
  .contact-details__icon--email {
    right: 4px; }

@media (min-width: 768px) {
  .contact-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 62px; }
  .contact-details__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 8px; }
  .contact-details__category {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 52px;
    font-size: 17px;
    line-height: 17px; }
    .contact-details__category::after {
      display: none; }
  .contact-details__input {
    width: 65%;
    margin-right: 50px;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 16px;
    padding-left: 15px;
    font-size: 19px;
    line-height: 19px; }
  .contact-details__icon {
    top: 0;
    right: 84px; }
    .contact-details__icon--email {
      right: 80px; } }

@media (min-width: 1150px) {
  .contact-details {
    margin-top: 12px; }
  .contact-details__item {
    margin-bottom: 11px; }
  .contact-details__category {
    margin-top: 5px;
    margin-left: 112px; }
  .contact-details__icon {
    right: 232px; }
    .contact-details__icon--email {
      right: 228px; }
  .contact-details__input {
    width: 61%;
    margin-right: 225px;
    padding-bottom: 13px; } }

/*# sourceMappingURL=style.css.map */
