$color-main: #444444;
$black: #000000;
$white: #ffffff;
$color-secondary: #63d1bb;
$color-secondary-dark: #56c3b2;
$catalog-icon-color: #149080;
$gray: #f1f1f1;
$gray-title-bg: #f9f9f9;
$gray-darken:  darken($gray, 5%);
$color-border: #ececec;
$color-placeholder: rgba(68, 68, 68, 0.3);
$color-modal: #c6c6c6;
$color-shadow: rgba(0, 1, 1, 0.25);
$link-hover: rgba(0, 0, 0, 0.6);
$link-down: rgba(0, 0, 0, 0.3);
$email-hover: #46c1ae;
$control-hover: #62d1ba;
$control-active: rgba($color-main, 0.3);
