$color-main: #444444;
$black: #000000;
$white: #ffffff;
$color-secondary: #63d1bb;
$color-secondary-dark: #56c3b2;
$catalog-icon-color: #149080;
$gray: #f1f1f1;
$gray-darken:  darken($gray, 5%);
$color-border: #ececec;
