@import "font-face.scss";
@import "variables.scss";
@import "mixins.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/user-list.scss";
@import "blocks/page-main.scss";
@import "blocks/catalog-list.scss";
@import "blocks/product-week.scss";
@import "blocks/advantages.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/product-list.scss";

body {
  width: 322px;
  margin: 0;
  
  @include container();
  padding: 0;

  font-family: $font-family;
  font-size: 15px;
  line-height: 24px;
  font-weight: $font-weight-normal;
  color: $font-color-normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
